<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.captain.voyage">

    <!-- [New] 알림 및 정확한 알람을 위한 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:name=".VoyageApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Voyage">

        <!-- 1. 메인 액티비티 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. 게임 액티비티 (가로 모드 고정) -->
        <activity
            android:name=".ui.game.GameActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <!-- 3. [New] 알림 리시버 등록 -->
        <receiver
            android:name=".utils.AlarmReceiver"
            android:exported="false"> <!-- 앱 내부에서만 호출하므로 false -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>